/**
 * Cloudbridge Mattermost CSS
 */

.cbmm-role-option {
    display: inline;
    float: left;
    padding-right: 5px;
}
.cbmm-config-header {
    padding: 20px 10px;
    border-top: 5px solid #35537a;
    background: #fff;
}
.cbmm-config-section {
    margin-top: 15px;
    padding: 25px 10px;
    color: #000;
    background: #fff;
}
.cbmm-ext-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}
img.cbmm-wps-logo {
    display: inline-block;
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-left: 10px;
    max-width: 100px;
    height: auto;
}
#cbmm_login_form {
    text-align: center;
    color: #000;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.cbmm-mattermost-button {
    vertical-align: middle !important;
}
